.Result {
  margin: 8px 0px;
  padding: 0px 8px;
  background-color: #E8E8E8;
}

.Result.rarity6 {
  background-color: goldenrod;
}

.Result.rarity5 {
  background-color: palegoldenrod;
}

.Result.rarity4 {
  background-color: lightblue;
}

.Result .note {
  color: #C65544
}

.Result .character {
  display: inline-block;
  margin: auto 6px
}

.Result .tag {
  box-shadow: none;
}
